[Unit]
Description=FBOL daemon serivce
After=network.target

[Service]
Type=simple
User=FBOL
ExecStart=/opt/FBOL/FBOLd

[Install]
WantedBy=multi-user.target
